@model dynamic

@{
    ViewBag.Title = "New Vehicle Form";
}

<h2>New Vehicle Form</h2>
<form id="newVehicle">


    <div class="form-group">
        <label>Year</label>
        <div class="tt-container">
            <input id="year" name="year" data-rule-validYear="true"  type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Make</label>
        <div class="tt-container">
            <input id="make"  name="make" data-rule-validMake="true"  type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Model</label>
        <div class="tt-container">
            <input id="model" name="model"  data-rule-validModel="true"  type="text" value="" class="form-control" />
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
       
        $("#newVehicle").submit(function (e) {
                e.preventDefault();
                
            var vehicleModel = $('#model').val();
            var vehicleMake = $('#make').val();
            var vehicleYear = $('#year').val();
             
        
        
       
            $.validator.addMethod("validModel", function () {
                return (vehicleModel !== null) && (vehicleModel.trim() !== '') ;
            }, "Please select a valid model.");
             $.validator.addMethod("validMake", function () {
               return (vehicleMake !== null) && (vehicleMake.trim() !== '') ;
             }, "Please select a valid make.");
            $.validator.addMethod("validYear", function () {
                return (vehicleYear - 1950) * (vehicleYear - 2050) <= 0
            }, "The year must be within 1950 and 2050.");
               
                
            });
        

       var validator =  $('#newVehicle').validate({
            submitHandler: function () {
               var vm = $("#newVehicle").serializeArray();

                             
               

              
                $.ajax({
                    url: "/api/vehicles",
                    method: "post",
                    data: vm,
                    dataType: 'json'
                })
                    .done(function () {
                             
            $( '#newVehicle' ).each(function(){
                  this.reset();
                     });
                        
                        
                    })
                    .fail(function () {
                        alert("Something unexpected happened");
                    });
               return false;
            }
    
       
            });
       
     
        
    </script>
}

















































































